doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/speech.js")
    script(src="/javascripts/speakClient.js")
    script(src="/javascripts/start.js")
    script(src="/javascripts/talk.js")
  body
    block content